# ══════════════════════════════════════════════════════════
# SECRETS
# ══════════════════════════════════════════════════════════
.env
*.env
!.env.example

# ══════════════════════════════════════════════════════════
# DOCKER
# ══════════════════════════════════════════════════════════
mysql_data/

# ══════════════════════════════════════════════════════════
# BACKEND
# ══════════════════════════════════════════════════════════
backend/target/
backend/.idea/
backend/*.iml

# ══════════════════════════════════════════════════════════
# FRONTEND
# ══════════════════════════════════════════════════════════
healthcare-front-office/healthcare-portal/node_modules/
healthcare-front-office/healthcare-portal/dist/
healthcare-front-office/healthcare-portal/.angular/